<html>
    <%- include("head") %>
       
    <body class="bodyVerPublicaciones" id="main">
        
        <%- include("navbar") %>
        <div class="container superContainer">
            <div class="container-fluid">
                <% publicaciones.forEach(function(publicacion) { %>
                    <div class="d-flex" id="publicacionDrch">
                        <div class="flex-column tituloYcuerpo">
                            <div class="text-center miniTitulos">               
                                <h2><%= publicacion.Titulo %></h2>           
                            </div>
                            
                            <div class="container-fluid">
                                <div class="cuerpoLimitSecciones">
                                    <h4><%= publicacion.Cuerpo.substr(0, 200) + "..." %></h4>
                                </div>
                                <div id="etiquetasInfo">
                                    📝<i style="color: black;">ETIQUETAS: </i>
                                    <%= publicacion.Etiquetas %>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-start flex-column" id="columnaDrchInfo">
                            <div class="p-2 align-self-stretch" id="usuarioInfo">
                                <img src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" id="usuarioImage">
                                <h5 id="usuarioName">Anonimo</h5>
                            </div>
                        </div>
                    </div>

                    <hr size="4px"/>

                <% }); %>
            </div>
        </div>            
    </body>
</html>