<html>
    <%- include("head") %>
       
    <body class="bodyVerPublicaciones" id="main">
        
        <%- include("navbar") %>
        <%- include("sidenavNormal") %>
        <%- include("botonFlotante") %>

        <div class="contadorPublicaciones text-center">
            <h4><b>Número de publicaciones: <%= publicaciones.length %></b></h4>
        </div>

        <div class="container superContainer">
            
            <div class="container-fluid">
                <div style="height: 5px;">  </div>
                <% publicaciones.forEach(function(publicacion) { %>
                    <div class="d-flex publiHover" id="publicacionesLista" onclick="location.href = '/leerPublicacion/<%=publicacion.ID%>';">
                        <div class="flex-column tituloYcuerpo">
                            <div class="text-left miniTitulos">               
                                <h2><%= publicacion.Titulo %></h2>           
                            </div>
                            
                            <div class="container-fluid">
                                <div class="cuerpoLimitSecciones">
                                    <h4>
                                        <%= publicacion.Cuerpo.substr(0, 200) %>...
                                        <!-- <a data-testid="log-in-link" href="/leerPublicacion/<%=publicacion.ID%>" tabindex="0">
                                            <%=" Leer más..." %>
                                        </a> -->
                                    </h4>
                                </div>
                                <div id="etiquetasInfo">
                                    <h5>
                                        📝<i style="color: black;">ETIQUETAS: </i>
                                        <%= publicacion.Etiquetas %>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-start flex-column" id="columnaDrchInfo">
                            <div class="p-2 align-self-stretch" id="usuarioInfo">
                                <img src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" id="usuarioImage">
                                <h5 id="usuarioName">Anonimo</h5>
                            </div>
                        </div>
                    </div>

                    <hr size="4px"/>

                <% }); %>
            </div>
        </div>            
    </body>
</html>