<html>
    <%- include("head") %>

    <body class="body">
         <!-- Barra de navegacion para busqueda por seccion -->
        <%- include("navbar") %>

        <div class="section1 text-center">
            <h1>Creaci贸n tu publicaci贸nぁ佛</h1>
        </div>
  
        <% let mensaje = getFlash(); %>
        <% if (mensaje) { %>
            <div class="row <%= mensaje.includes("Se ha creado la publicaci贸n con 茅xito") ? "alert alert-success" : "alert alert-danger" %>">
                <%= mensaje %>
            </div>
        <% } %>

        <form method="POST" action="crearPublicacion" enctype="multipart/form-data">
            <div class="Container">

                <div class="Titulo d-flex justify-content-center flex-column">
                    <div class="Parte1 p-2">
                        <b>Titulo:</b><b class="asterisco">* </b>  
                    </div>

                    <div class="p-2">
                        <input class="TituloTexto form-control" type="text" placeholder="Titulo de publicaci贸n" name="publicacion[titulo]" required minlength="3" maxlength="50">
                        <div style='text-align:right'>
                            <i>Entre 3-50 caracteres</i>
                        </div>
                    </div>
                </div>

                <div class="Cuerpo d-flex justify-content-center flex-column">
                    <div class="Parte2 p-2">
                        <b>Cuerpo:</b><b class="asterisco">* </b>  
                    </div>
    
                    <div class="form-group p-2">
                        <textarea class="CuerpoTexto form-control" type="text" rows="8" placeholder="Cuerpo de publicaci贸n" name="publicacion[cuerpo]" required minlength="90"></textarea>
                        <div style='text-align:right'>
                            <i>Min. 90 caracteres</i>
                        </div>
                    </div>
                </div>
    
                <div class="d-flex p-2 flex-column justify-content-between">

                    <!-- Aqui esta para elegir la seccion -->
                    <div class="AniadirSeccion flex-column">
                        <div class="Parte3 p-2">
                            <b>A帽adir a la secci贸n:</b><b class="asterisco">*</b> 
                            <select class="OpcionesSeccion" name="publicacion[seccion]">
                                <option value="Valor Predefinido">Elija una secci贸n...</option>
                                <% secciones.forEach( sec => { %>
                                    <option value= "<%= sec.ID %>"><%= sec.Nombre %></option>
                                <% }); %>
                            </select> 
                        </div>
                    </div>

                 <!-- Aqui es donde esta la seleccion de las etiquetas -->
                    <div class="AniadirEtiqueta d-flex flex-column" id="seleccion_etiquetas">
                        <div class="Parte4 d-flex p-2">
                            <b>A帽adir etiquetas</b><i>(max. 5)</i><b>:</b><b class="asterisco">*</b> 
                        <div class="p-2" id="textoEtiqueta" >
                            <input class="form-control" type="text" placeholder="Etiqueta" name="etiqueta" id="nuevaEtiqueta" style="background: #FFF0C9;">
                        </div>
                        <div class="p-2" id="botonA帽adirEtiqueta" >
                            <input type="button" class="btn btn-primary" value ="A帽adir">                                 
                        </div>
                    </div>

                    <div id="listaEtiquetas" class="p-2 d-flex" name="etiquetas">
                        <!-- Aqui el texto se a帽ade solo cuando haces click -->
                    </div>

                </div>                    
    
                <div class="Textochiquito">
                    <b>Todos los campos con * son obligatorios </b>
                </div>

                <div class="d-flex justify-content-center" id="BotonPublicar">
                    <input type="submit" class="btn btn-primary" value ="Publicar">
                </div>

            </div>
        </form>        
    </body>

    <script src="/stylesheets/js/crearPublicacion.js"></script>
</html>