<html>
    <%- include("head") %>

    <body class="cuerpoMsg">
        <%- include("sidenavFull") %>

        <div class="section1 text-center">
            <h1>Mensaje</h1>
        </div>
  

        <div class="container">
            <div class="d-flex justify-content-center <%=(mensaje.includes("Se ha creado"))  ? "goodmsg" : "badmsg" %>  " id="mensaje">
                <div class="p-2">
                    <%= mensaje %>
                </div>
                <div class="p-2">
                    <a href="/crearPublicacion">Volver</a>
                    <% if(mensaje.includes("Se ha creado")){%>
                        
                     
                    <a href="/leerPublicacion/<%= id %> "> Ver Publicacion</a>
                    <% } %>
                </div>
                 
            </div>
        </div>       

             
    </body>
</html>