<html>
    <%- include("head") %>
       
    <body class="bodyVerPublicacion" id="main">
        
        <%- include("navbar") %>
        <%- include("sidenavNormal") %>
        <%- include("botonFlotante") %>

        <div class="container noBordes">
            <div class="d-flex" id="publicacionConjunta">
                <div class="flex-column TituloCuerpoRespuesta">
                    <div class="text-left miniTitulo">               
                        <h1><%= publicacion.Titulo %></h1>           
                    </div>

                    <div class="cuerpoLimitado">
                        <h4><%= publicacion.Cuerpo %></h4>
                    </div>
                </div>
                
                <div class="d-flex align-items-start flex-column" id="columnaIzqInfo">
                    <div class="p-2 align-self-stretch" id="usuario">
                        <img src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" id="userImage">
                        <h5 id="userName">Anonimo</h5>
                    </div>
                    <div id="etiquetasInfoPub">
                        📝<i style="color: black;">ETIQUETAS: </i>
                        <%= publicacion.Etiquetas %>
                    </div>
                </div>
                
            </div>

            <!-- <div class="justify-content-center d-flex">
                <a class="btn btn-primary botonResponder" href="/crearPublicacion" value ="Responder la publicación">
                    Responder publicación
                </a>
            </div>  -->
            
        </div>

        <!-- Aqui va tu codigo de las respues de la publicación Sergio -->

        <div class="container conjuntoRespuestas"> 

        </div>

        <%- include("responderPublicacion") %>
 
    </body>
</html>
